<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A utility to restore tabs from a crashed Firefox session directly from sessionstore.bak">
    <meta name="author" content="Jon Yom-Tov">

    <title>Emergency Firefox Session Restore</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
          /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by its height */
        margin: 0 auto -60px;
        /* Pad bottom by footer height */
        padding: 0 0 60px;
      }

      /* Set the fixed height of the footer here */
      #footer {
        height: 60px;
        background-color: #f5f5f5;
      }


      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding: 0px 15px 0;
      }
      .container .credit {
        margin: 20px 0;
      }

      #footer > .container {
        padding-left: 15px;
        padding-right: 15px;
      }

      body {
        padding-top: 50px;
      }
      #submit {
        margin-top: 10px;
      }
      #spinner {
        display: none;
      }
      #error {
        visibility: hidden;
      }
    </style>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44045814-1', 'firefox-session-restore.herokuapp.com');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">          
            <a class="navbar-brand" href="#">Emergency Firefox Session Restore - When All Else Has Failed</a>
          </div>          
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Firefox Session Restore</h1>
        </div>
        <p class="lead">Just paste the contents of your <code>sessionstore.bak</code> file here and submit. Watch the magic happen!
          <button type="button" class="btn btn-default" data-toggle="modal" href="#myModal"><span class="glyphicon glyphicon-question-sign"></span></button>
        </p>
        <div class="row">
          <div class="col-md-6">
            <div id="error" class="alert alert-danger"></div>
          </div>
          <div class="col-md-6">
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffirefox-session-restore.herokuapp.com%2F&amp;width=450&amp;height=35&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;send=true&amp;appId=203941499773181" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe> 
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>           
          </div>          
        </div>        
        <div class="row">
          <div class="col-md-6">            
            <form id="json-form" role="form">
              <textarea id="json-string" class="form-control" rows="20" spellcheck="false"></textarea>
              <button id="submit" type="submit" class="btn btn-primary btn-xlarge">Submit</button>
              <img id="spinner" src="images/ajax-loader.gif" alt="Loading...">
            </form>
          </div>
          <div id="results" class="col-md-6">
          </div>          
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Help</h4>
          </div>
          <div class="modal-body">
            There are times when Firefox just can't restore your previous session. But have no fear, we can help! Simply paste the contents of the <code>sessionstore.bak</code> file in the text field 
            below and press submit. Your open tabs will all appear. <code>sessionstore.bak</code> is located in your profile folder. You can find it by clicking <a href="http://kb.mozillazine.org/Profile_folder" target="_blank">here</a>.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">By <a href="https://github.com/jonyt">Jon Yom-Tov</a>.</p>
      </div>
    </div>
            
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#json-form').submit(function(){
          $('#spinner').show();
          $('#error').css({visibility: 'hidden'});
          $('#results').empty();
          
          $.ajax({
            url: "/parse",
            data: {json: $('#json-string').val()},
            dataType: 'json',
            type: "POST",
            error: function(jqXHR, textStatus, errorThrown){
              var errorText = (jqXHR.responseText && jqXHR.responseText == 'No JSON provided' ? 'Please fill in the form' : 'An error occured, please reload the page and try again');
              $('#error').css({visibility: 'visible'});
              $('#error').text(errorText);
            },
            success: function(data){              
              $(data).each(function(index, url){
                $('#results').append( $('<p />').append( $('<a />', {href: url, target: "_blank"}).text(url) ) );  
              });
            },
            complete: function(){
              $('#spinner').hide();
            }
          });
          
          return false;
        });  
      });
    </script>
  </body>
</html>
